<section class="section">
  <div class="home-title-dropdown">
    <h2 class="home-section-title">
      {{- with $.Page.Params.gallery_section_heading -}}
      {{- . -}}
      {{- else -}}
      Gallery
      {{- end -}}
    </h2>
  </div>
  <div class="gallery_container">
    <div class="photos_grid">
      {{ range readDir "/static/images/gallery" }}
      <img class="photo_container photo_container__hide img_id_{{strings.TrimSuffix ".webp" .Name}}" data-img-id="{{strings.TrimSuffix ".webp" .Name}}" alt="gallery"  src='images/gallery/{{.Name}}' />
      {{ end }}
    </div>


    </div>
  </div>

</section>