{{ define "main" }}
<div class="container">
  <section class="page-header--c">
    <h1 class="page-header-title">OUR ESTEEMED ALUMNI</h1>
  </section>
  <div class="alumni-grid">
    {{ with .Data.Terms}}
    {{ range . }}
    <div class="alumni-year-tile">
      <div class="rect-img-container-year">
        <img class="alumni-year-tile-img" src="{{ absURL "" }}images/groupPhotos/{{ .Page.Title }}.webp" alt="">
      </div>
      <a class="term" href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
    </div>
    {{ end }}
    {{ else }}
    {{ partial "general/fallback-text.html" . }}
    {{ end }}
  </div>
</div>
{{ end }}