{{ define "main" }}
<div class="container">
  <section class="page-header--c">
    <h1 class="page-header-title">Our Alumni</h1>
  </section>
  <div class="alumni-grid">
    {{ with .Data.Terms}}
      {{ range . }}
      <div class="alumni-year-tile">
        <img class="alumni-year-tile-img" src="{{ absURL "/" }}robocon/{{.Page.Title}}/{{ .Page.Title }}.webp" alt="">
        <a class="term" href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
      </div>
      {{ end }}
    {{ else }}
      {{ partial "general/fallback-text.html" . }}
    {{ end }}
  </div>
</div>
{{ end }}