{{ define "main" }}
<div class="container">
  <section class="page-header--c">
    <h1 class="page-header-title">{{ .Title }}</h1>
  </section>
  <img class="alumni-year-title-img" src="{{.Site.BaseURL}}images/groupPhotos/{{.Title}}.webp" alt="">
  <div class="alumni-grid">
    {{ range (.Pages.ByParam "graduated_year") }}
    <div class="alumni-person-tile">
      <div class="rect-img-container">
        <img class="alumni-person-tile-img"
          src="{{.Site.BaseURL}}alumni/{{.Params.slug}}/{{ .Params.personal_photo_src}}" alt="image">
      </div>
      <div class="alumni-tile_content">
        <h3 class="alumni-tile_title">
          {{ .Title }}
        </h3>
        <p>
          Graduated Year: {{.Params.graduated_year -}}
        </p>
        <p>
          Department: {{.Params.department}}
        </p>
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}