.terms {
  display: flex;
  flex-direction: column;
}

.term {
  border: 1px solid var(--color-primary);
  @include font-size('sm');
  border-radius: 0 0 12px 12px;
  width: 100%;
  margin: 0;
  padding: 0.4rem 0.6rem;
  font-weight: 600;
  
  &:hover {
    text-decoration: none;
    border: 1px solid var(--color-contrast-high);
    color: var(--color-contrast-high);
  }

  @include respond-to('small') {
    padding: 0.5rem 0.7rem;
  }
}
